<div class="container my-4 bg-dark text-white py-3 rounded">
  <div class="row">
      <div class="col-md-6">
          <h1>{{ titulo }}</h1>
          <p>Actualmente usted ha agregado {{carrito.length}} productos a su carrito de compras</p>
      </div>
  </div>
</div>

<div class="container mt-4 table-responsive">
    <div class="row mt-4">
      <div class="card col-lg-6 img-card">
      </div>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of carrito">
                    <td><img style="max-width: 150px; max-height: 150px;" [src]="producto.producto.foto" /></td>
                    <td>{{producto.producto.nombre}}</td>
                    <td>{{producto.producto.categoria.nombre}}</td>
                    <td>{{producto.producto.descripcion}}</td>
                    <td>{{convertToMoney(producto.producto.precio)}}</td>
                    <td>{{producto.cantidad}}</td>

                    <td>
                    <button class="btn btn-warning" (click)="accionCarrito(producto, 'quitar')"><fa-icon [icon]="faMinus"></fa-icon></button>
                    <button class="btn btn-success" (click)="accionCarrito(producto, 'agregar')"><fa-icon [icon]="faPlus"></fa-icon></button>
                    <button class="btn btn-danger" (click)="accionCarrito(producto, 'agregar')"><fa-icon [icon]="faEraser"></fa-icon></button>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
        <table class="table table-bordered table-striped d-inline-block">
            <tr>
                <h5>TOTAL: {{convertToMoney(totalPrecioCarito())}}</h5>
            </tr>
        </table>
        <a [routerLink]="['/productos']" class="btn btn-success">Comprar</a>
    </div>

    </div>
</div>



<ng-template #NoHayProductos>
  <div class="container my-4 py-3 rounded">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title">{{ mensaje }}</h5>
          </div>
      </div>
  </div>
</ng-template>
