<div class="row justify-content-center mb-3 mt-4 row">
    <div class="card mb-3 col-md-6">
        <div class="row g-0">
            <div class="col-4">
                <img src="" class="img" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Camila Arredondo</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-md-6">
        <div class="row g-0">
            <div class="col-4">
                <img src="../../../assets/img/Marianny.jpg" class="img" alt="..."> 
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Marianny Batista</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB / Analista Programador UST</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-md-6" >
        <div class="row g-0">
            <div class="col-4">
                 <img src="../../../assets/img/Clarivel.jpeg" class="img" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Clarivel Jeldrez</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card mb-3 col-md-6" >
        <div class="row g-0">
            <div class="col-4">
                <img src="../../../assets/img/Genesis.jpeg" class="img" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Génesis Longart</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
        </div>
    </div>
   
  </div>