<footer class="container-fluid footer-default text-white py-4 mt-4">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <!--<a class="navbar-brand" href="home">
            <img class="img-footer" src="../../../assets/img/logo.png" alt="">
        </a>-->


          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">

            <h5 class="text-uppercase">Supermercado</h5>

            <p>
                Este proyecto fue desarrollado con Angular + VSC.
            </p>
            <p>
               Desarrolador por:
            </p>
            <div>
                <ul>
                    <li class="n-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="nosotros">Camila Arredondo</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="nosotros">Marianny Batista</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="nosotros">Clarivel Jeldrez</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="nosotros">Génesis Longart</a>
                    </li>
                </ul>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Búsqueda general</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a [routerLink]="['/productos']"  class="text-white">Productos</a>
              </li>
              <li>
                <a [routerLink]="['/carrito']"   class="text-white">Carrito</a>
              </li>
              <li>
                <a [routerLink]="['/perfil']"   class="text-white">Compras realizadas</a>
              </li>

            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Company 2023, Inc. Todos los derechos reservados.
      </div>
  </footer>
